<p id="notice"><%= notice %></p>
<p class="menuNormal1N">
Bienvenido al sistema, en esta pagina puede obtener diversa informacion y puede realizar algunas personalizaciones.
<p>
<p class="menuNormal1N">
  <b>Cambiar de clave:</b><br/>
Si desea puede realizar el cambio de su clave, para ello escriba su nueva clave en el recuadro, luego haga clic en el boton y se le pedira su clave nueva para que reingrese al sistema.
</p>
<%= render "inicio/form" %>
</div>