   <table class="principal2">
    <tr><td>
      <span ID="LblTituloCabecera" Class="menuTitulo"><%=@cabeceratitulo%></span>
    </tr></td>
    <tr><td>
      <span ID="LblDescripcionCabecera" Class="menuNormal1N"><%=@cabeceradescripcion%></span>
    </tr></td>
   </table>
  <hr class="Linea2"/>